.courses-section{
    &>#courses{
        // border: 1px solid red;
        padding: 10rem 0 5rem 0;

        &>h2{
            text-align: center;
            color: $red;
            font-size: 3.5rem;
            font-weight: 400;
            font-family: $primary-font;
        }

        &>.flex-container{
            // border: 1px solid red;
            margin-top: 3rem;
            display: flex;
            flex-wrap: wrap;
        }
    }
}