.testimonials-section{
    &>#testimonials{
        border: 1px solid red;
        padding: 3rem 0;

        &>h2{
            text-align: center;
            color: $red;
            font-size: 3.5rem;
            font-weight: 400;
            font-family: $primary-font;
        }

        &>.feedback-container{
            padding-top: 2rem;
            border: 1px solid red;
            display: flex;
            justify-content: center;
            // flex-direction: column;
            &>.feedback-box{
                flex: 1;
                margin: 1.5rem;
                padding: 2rem;
                border: 1px solid red;
                display: flex;
                flex-direction: column;
                align-items: center;

                &>h3 {
                    text-align: center;
                    margin: 2rem 0;
                    color: $primary-color;
                    font-family: $secondary-font;
                    font-weight: 400;
                    font-size: 2.5rem;
                }
            }
        }
    }
}