.placements-section{
    &>#placements{
        border: 1px solid red;
        padding: 3rem 1.5rem;
        background-color: $light-gray;

        &>h2{
            text-align: center;
            color: $red;
            font-size: 3.5rem;
            font-weight: 400;
            font-family: $primary-font;
        }
    }
}