header{
    width: 100%;
    background: url(../../../public/images/home-img/treemiti-home.jpg);
    background-position: center;
    background-size: cover;
    border: 1px solid red;

    &>#header{
        border: 1px solid red;
        color: $white;
        height: calc(100vh - 7rem);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &>h1{
            font-size: 4rem;
        }
    }
}