.career-guidance-section {
    &>#career-guidance {
        // border: 1px solid red;
        padding: 2rem 0;

        &>h2 {
            text-align: center;
            color: $red;
            font-size: 3.5rem;
            font-weight: 400;
            font-family: $primary-font;
        }

        &>.features-list {
            // border: 1px solid blue;
            padding: 0 1.5rem;
            border-bottom: 1px solid #c3c3c3;

            &>li {
                background-color: transparent;
                border: none;
                overflow: hidden;
                margin: 0;
                border-radius: 1rem 1rem 0 0;
                height: 6rem;

                &>a {
                    // display: inline-block;
                    // border: 1px solid blue;
                    flex-direction: row;
                    // justify-content: space-between;

                    padding: 0 2rem;
                    // gap: 0rem;

                    &>figure {
                        width: 5rem;
                        height: 5rem;
                        border-radius: 50%;
                        // border: 1px solid red;

                        &>img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }

                    &>h3 {
                        font-size: 1.4rem;
                        font-weight: 500;
                        // border: 1px solid red;
                        color: #008bb9;
                    }

                    &.active {
                        background: linear-gradient(#D0D0D0, #F9F9F9);
                        border-top: .1px solid #D0D0D0;
                        border-left: .1px solid #c3c3c3;
                        border-right: .1px solid #c3c3c3;
                        border-bottom: .1px solid #c3c3c3;
                    }
                }

                &:hover {
                    background-color: $light-gray;

                    &>a {
                        &>h3 {
                            color: #008bb9;
                        }
                    }
                }
            }
        }

        &>h3{
            // border: 1px solid red;
            text-align: center;
            // margin: 3.5rem 0 2rem 0;
            margin-top: 3.5rem;
            color: $red;
            font-size: 2.4rem;
            font-weight: 400;
            font-family: $primary-font;
        }


        &>.about-guidance{
            margin: 2rem 0;
            padding: 0 1.5rem;
            border: 1px solid blue;
            display: flex;
            justify-content: space-between;
            // align-items: center;
            &>figure{
                border: 1px solid red;
                // flex: 1 1 auto;
                width: 30rem;
                height: 30rem;

                &>img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            &>article{
                border: 1px solid red;
                // flex: 1 1 auto;
                min-height: 30rem;
                max-width: 850px;


                &>p{
                    font-size: 1.4rem;
                    line-height: 2.4rem;
                }  
            }
        }

        &>.other-courses {
            // border: 1px solid red;
            padding: 2rem 0;
            // margin-top: 5rem;


            &>h3 {
                text-align: center;
                margin: 2rem 0;
                color: $primary-color;
                font-family: $secondary-font;
                font-weight: 400;
                font-size: 2.5rem;
            }

            &>div {
                // border: 1px solid red;
                display: flex;
                flex-wrap: wrap;

                &>.course-cart {
                    // border: 1px solid red;
                    padding: 0 1rem;
                    border-radius: 0 0 1rem 1rem;
                    width: 11rem;
                    height: 18rem;
                    background-color: $light-gray;
                    transition: .3s;

                    &>a {
                        &>figure {
                            width: 9rem;
                            height: 9rem;
                            // border: 1px solid red;
                        }

                        &>h3 {
                            font-size: 1.5rem;
                            text-align: center;
                            // border: 1px solid red;
                            font-weight: 400;
                        }
                    }

                    &:hover {
                        background-color: $primary-color;

                        &>a {
                            &>h3 {
                                color: $white;
                            }
                        }
                    }
                }
            }
        }
    }
}


@media (max-width: 768px){
    .career-guidance-section{
        &>#career-guidance{
            &>.about-guidance{
                flex-direction: column;

                &>figure{
                    border: 1px solid red;
                    max-width: 40rem;
                    max-height: 40rem;
                    margin: 0 auto;
    
                    &>img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }
        }
    }
}